.header{
    background-color: #19adf6;
    justify-content: space-between;
    display: ruby-text-container;
}

.menu{
    display:flex;
    justify-content:space-between ;
    padding: 15px;
    font-size: 20px;
    font-weight: 40;
    color: #effeff;
}

body{
    margin: 0px;
    background-color: #8d9f8f;
}

.bodyimg{
    position: relative;
}

.bodyimg p{
    color: #f7f2f5;
    font-size: 55px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bodyimg h3{
    color: #184644;
    font-size: 15px;
    font-family: monospace;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,20%);
}

.grid{
    display:flex;
    flex-wrap:wrap;
    font-family: sans-serif;        
}
.grid img{
    border : 2px solid #000000;
    border-radius: 50px;;
}

a:link{
    color: #ffffff;
    text-decoration: none;
}

a:visited{
    color: #efdf05;
    text-decoration: none;
}

.origami{
    border-radius: 15px;
    background-color: #ffffff;
    padding: 50px;
    margin: 50px;
    display: flexbox;
    width:300px;    
}

.origami:hover{
    transform :scale(1.1);
}